@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

main {
    background-image: url(/assets/background-stonesHunting.jpg);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
}

.title {
    width: 50%;
    display: flex;
    align-items: center;
}

.title h1 {
    margin-left: 80px;
    color: #FFF;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    font-size: 80px;
    margin-bottom: 40%;
    transform: rotate(-30deg);
    text-shadow: 2px 0 0 #7037d8, -2px 0 0 #7037d8, 0 2px 0 #7037d8, 0 -2px 0 #7037d8, 1px 1px #7037d8, -1px -1px 0 #7037d8, 1px -1px 0 #7037d8, -1px 1px 0 #7037d8;
}

.buttons {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.button-space {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.button-space button {
    padding: 20px 80px;
    font-size: 18px;
    background-color: rgba(0,0,0,0);
    color: #FFF;
    border: 2px solid #E2025B;
    margin: 15px;
    border-radius: 15px;
    font-family: 'Fredoka One', cursive;
    outline: none;
    width: 300px;
}

.button-space button:hover {
    background-color: #E2025B;
    cursor: pointer;
    transform: scale(1.1);
    border: 1px solid #FFF; 
}


/*CHARACTER STYLE*/ 

.section {
    background-color: #000;
    width: 100vw;
    height: 100vh;
}
.select {
    display: flex;
    justify-content: center;
}

.back {
    position: absolute;
    left: 20px;
    top: 30px;
}

i {
    font-size: 50px;
    font-family: 'Fredoka One', cursive;
    color: #E2025B;
}

i:hover {
    cursor: pointer;
    font-size: 55px;
}


.select h1 {
    font-family: 'Fredoka One', cursive;
    margin: 20px 0;
    font-size: 60px;
    color: #000;
    text-shadow: 2px 0 0 #E2025B, -2px 0 0 #E2025B, 0 2px 0 #E2025B, 0 -2px 0 #E2025B, 1px 1px #E2025B, -1px -1px 0 #E2025B, 1px -1px 0 #E2025B, -1px 1px 0 #E2025B;
}

.characters {
    background-image: url(/assets/characters-stonesHunting.jpg);
    height: 80%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    margin-top: 20px;
}

.rocket {
    background-color: rgba(0,0,0,0.7);
    height: 100%;
    width: 16.5%;
    margin-left: 240px;
}

.quill {
    background-color: rgba(0,0,0,0.7);
    height: 100%;
    width: 16.5%;
}

.gamora {
    background-color: rgba(0,0,0,0.7);
    height: 100%;
    width: 16.5%;
}

.drax {
    background-color: rgba(0,0,0,0.7);
    height: 100%;
    width: 17%;
}

.person:hover {
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}

/* MAP SECTION*/

.map {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    background-image: url(/assets/galaxy-stonesHunting.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.teste {
    background-color: #FFF;
}

.no-show {
    display: none;
}

