@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

main {
    background-image: url(/assets/background-stonesHunting.jpg);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
}

.title {
    width: 50%;
    display: flex;
    align-items: center;
}

.title h1 {
    margin-left: 40px;
    color: #FFF;
    font-family: 'Bungee Shade', cursive;
    text-align: center;
    font-size: 80px;
    margin-bottom: 50%;
    transform: rotate(-30deg);
    text-shadow: 2px 0 0 #7037d8, -2px 0 0 #7037d8, 0 2px 0 #7037d8, 0 -2px 0 #7037d8, 1px 1px #7037d8, -1px -1px 0 #7037d8, 1px -1px 0 #7037d8, -1px 1px 0 #7037d8;
}

.buttons {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.button-space {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.button-space button {
    padding: 20px 80px;
    font-size: 18px;
    background-color: rgba(0,0,0,0);
    color: #FFF;
    border: 2px solid #E2025B;
    margin: 15px;
    border-radius: 15px;
    font-family: 'Fredoka One', cursive;
    outline: none;
    width: 300px;
}

.button-space button:hover {
    background-color: #E2025B;
    cursor: pointer;
    transform: scale(1.1);
    border: 1px solid #FFF; 
}


/*CHARACTER STYLE*/ 

.section {
    background-color: #000;
    width: 100vw;
    height: 100vh;
}
.select {
    display: flex;
    justify-content: center;
}

.back {
    position: absolute;
    left: 20px;
    top: 30px;
}

i {
    font-size: 50px;
    font-family: 'Fredoka One', cursive;
    color: #E2025B;
}

i:hover {
    cursor: pointer;
    font-size: 55px;
}


.select h1 {
    font-family: 'Fredoka One', cursive;
    margin: 20px 0;
    font-size: 60px;
    color: #000;
    text-shadow: 2px 0 0 #E2025B, -2px 0 0 #E2025B, 0 2px 0 #E2025B, 0 -2px 0 #E2025B, 1px 1px #E2025B, -1px -1px 0 #E2025B, 1px -1px 0 #E2025B, -1px 1px 0 #E2025B;
}

.random {
    position: absolute;
    top: 30px;
    right: 30px;
}

.random button {
    padding: 20px;
    border: 2px solid #E2025B;
    border-radius: 15px;
    font-family: 'Fredoka One', cursive;
    outline: none;
    background-color: #000;
    color: #E2025B;
    font-size: 20px;
}

.random button:hover {
    cursor: pointer;
    background-color: #E2025B;
    border: 2px solid #FFF;
    color: #FFF
}

.characters {
    background-image: url(/assets/characters-stonesHunting.jpg);
    height: 80%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    margin-top: 20px;
}

.rocket {
    background-color: rgba(0,0,0,0.7);
    height: 100%;
    width: 16.5%;
    margin-left: 240px;
}

.quill {
    background-color: rgba(0,0,0,0.7);
    height: 100%;
    width: 16.5%;
}

.gamora {
    background-color: rgba(0,0,0,0.7);
    height: 100%;
    width: 16.5%;
}

.drax {
    background-color: rgba(0,0,0,0.7);
    height: 100%;
    width: 17%;
}

.person:hover {
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}

/* MAP SECTION*/

.map {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    background-image: url(/assets/galaxy-stonesHunting.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.teste {
    background-color: #FFF;
}

.no-show {
    display: none;
}

.stone {
    width: 50px;
    height: 70px;
}

.stonekeeper {
    width: 50px;
    height: 70px;
}

#mind {
    position: relative;
    top: 80px;
    left: 470px;
}

#soul {
    position: relative;
    top: 360px;
    left: 1110px;
}

#space {
    position: relative;
    top: 350px;
    left: 20px;
}

#time {
    position: relative;
    top: 120px;
    left: 990px;
}

#reality{
    position: relative;
    top: 590px;
    left: 520px;
}

#power {
    position: relative;
    top: 230px;
    left: 400px;
}

.upstones {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.stone:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.nav {
    display: flex;
    justify-content: center;
}

.card {
    position: absolute;
    top: 15px;
    right: 50px;
    width: 130px;
    height: 150px;
    border: 5px solid #E2025B;
}

.card img {
    width: 100%;
    height: 100%;
}

.progress-space {
    width: 300px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 20px;
    right: 50px;
}

.progress-space h1 {
    color: #E2025B;
    font-family: 'Fredoka One', cursive;
    text-align: center;
}

.progress-bar {
    width: 100%;
    height: 30px;
    border: solid 2px #E2025B;
    margin-top: 20px;
    border-radius: 20px;
}

.progress-space p {
    color: white;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    margin-top: 10px;
}

#progress {
    height: 100%;
    background-color: #E2025B;
    width: 0;
    border-radius: 20px;
}

.transparente {
    opacity:0.01;
	-moz-opacity: 0.1;
	filter: alpha(opacity=10);
}

.level{
    position: absolute;
    height: 100px;
    width: 100px;
    bottom: 50px;
    left: 50px;
    font-family: 'Fredoka One', cursive;
    font-size: 22px;
    text-align: center;
}

#easy {
    text-shadow: 2px 0 0 #E2025B, -2px 0 0 #E2025B, 0 2px 0 #E2025B, 0 -2px 0 #E2025B, 1px 1px #E2025B, -1px -1px 0 #E2025B, 1px -1px 0 #E2025B, -1px 1px 0 #E2025B;
    margin-bottom: 10px;
}

#medium {
    text-shadow: 2px 0 0 #E2025B, -2px 0 0 #E2025B, 0 2px 0 #E2025B, 0 -2px 0 #E2025B, 1px 1px #E2025B, -1px -1px 0 #E2025B, 1px -1px 0 #E2025B, -1px 1px 0 #E2025B;
    margin-bottom: 10px;
}

#hard {
    text-shadow: 2px 0 0 #E2025B, -2px 0 0 #E2025B, 0 2px 0 #E2025B, 0 -2px 0 #E2025B, 1px 1px #E2025B, -1px -1px 0 #E2025B, 1px -1px 0 #E2025B, -1px 1px 0 #E2025B;
}